
<div fxLayout="row  wrap" fxLayout.xs="column"  fxLayoutGap="10px">
    <div
      fxFlex="25"
      fxFlex.xs="90"
      fxFlex.sm="90"
      fxFlexAlign.sm="column"
      fxLayoutAlign="center center"
      class="content"
    >
      <mat-icon color="primary">call</mat-icon>
      <span >(+91) 987 654 3210</span>
    </div>
    <div
      fxFlex="45"
      fxFlex.xs="90"
      fxFlex.sm="90"
      fxFlexAlign.sm="column"
      fxLayoutAlign="center center"
      class="content"
    >
    <mat-icon color="primary">location_on</mat-icon>
    <span  class="mx-2">2903 Avenue Z, MG Marg, DL, India</span>
    </div>
    <div
      fxFlex="25"
      fxFlex.xs="90"
      fxFlex.sm="90"
      fxFlexAlign.sm="column"
      fxLayoutAlign="center center"
      class="content"    >
      <mat-icon color="primary">mail</mat-icon>
      <span  class="mx-2">info@skywave.com</span>
    </div>
  </div>






















