.contact-map .sebm-google-map-container {
    height: 400px;
}


.contact-container{
    top: -71px;
    z-index: 1;
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: red;
}


.contact-text-color{
    color: #e12929;
    position: relative;
    font-size: 27px;
    font-family: "Lora", serif;
}
.contact-about-title{
    color:#e12929;
}
.getintouch-submit-btn{
    color: #e12929;
}
.abt-img{
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.get-in-touch-img{
padding-bottom: 3.9rem !important;
padding-top: 3.25rem !important;
}
@media only screen and (max-width: 390px)  {
    .get-in-touch-img{
        padding-bottom:0 !important;
        padding-top: 0 !important;
        }
}
