<div class="px-3">
  <div class="theme-container">
    <div class="bg-primary" ngClass.lt-md="mt-3" ngClass.gt-sm="get-in-touch">
      <!--  Your code to implement Get In Touch Feature-->
      <div
        fxLayout="row wrapper"
        fxLayout.sm="column"
        fxLayout.xs="column"
        class="mt-4"
      >
        <div fxFlex="15" fxFlex.xs="100" fxFlex.sm="100">
          <img src="../../../assets/images/others/operator.png" />
        </div>

        <div fxFLex="25" fxFlex.xs="90" fxFlex.sm="90" fxFlexAlign.sm="row">
          <mat-card-title>Looking for Authentic Food?</mat-card-title>
        </div>

        <div
          fxFlex="30"
          fxLayoutAlign="center center"
          fxFlex.xs="90"
          fxFlex.sm="90"
          fxFlexAlign.sm="row"
          class=""
          ngClass.gt-sm="pl-157"
        >
          <div
            class=""
            ngClass.gt-sm="mobile-icon"
            ngClass.xs="mobile-icon-small"
            ngClass.sm="mobile-icon-small"
          >
            <mat-icon class="call-icon">call</mat-icon>
          </div>

          <div class="call-us">
            <div>Call Us Now</div>
            <div>(+91) 123 456 7890</div>
          </div>
        </div>
        <div
          fxFlex="25"
          fxFlex.xs="90"
          fxFlex.sm="90"
          fxLayoutAlign="center center"
        >
          <button
            mat-flat-button
            class="uppercase"
            ngClass.sm="btn-mt-5"
            ngClass.xs="btn-mt-5"
            ngClass.gt-sm="float-right"
          >
            Get In Touch
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
