.get-in-touch{
    position: relative;
    margin-top: 80px;
    padding: 15px;
    img{
        max-width: 200px; 
        position: absolute; 
        bottom: 0;
    }
    .content{
        padding-left: 200px;
    }
   
}
// .get-in-touch-title{
//     font-family: 'Lora', serif;
//     font-size: 30px;
// }
.call-icon{
    font-size: 40px;
    position: relative;
    left: 15%;
}
.float-right{
    float: right;
}
.pl-157{
    padding-left: 157px;
}
.mobile-icon{
       width: 40%;
       float: left;
}
.mobile-icon-small{
    width: 20%;
    float: left;
    
}
.btn-mt-5{
    margin-top: 6px;
    margin-bottom: 6px;
}
.call-us{
    width: 60%;
    float: left;
    text-align: left;
}